main {
    margin: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
}

#cart_header {
    text-align: right;
    border-bottom: 1px solid gray;
}

.cart-item {
    display: grid;
    grid-template-columns: 20% auto 150px;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.cart-item input, .cart-item label {
    float: left;
    margin: 2px;
}

.cart-item-delete input{
    margin-left: 20px;
}

.cart-item-image img {
    width: 90%;
    max-height: 180px;
}

.cart-item-name {
    font-size: 1.2em;
}

.cart-item-stock {
    margin: 5px 0;
}

.cart-item-price {
    text-align: right;
    font-size: 1.6em;
    font-weight: 900;
}

#cart_total {
    float: right;
    font-size: 1.5em;
}

.total {
    font-weight: 900;
    font-size: 1.1em;
}