* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.error {
    color: red;
    font-size: 1.5em;
}

.password-policy {
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 5px;
    float: left;
    clear: left;
    font-weight: 100;
}

.password-policy-rule {
    text-align: center;
}

.password-policy-rule li {
    display: inline;
    margin: 10px;
}

.instock {
    color: green;
}

.lowstock {
    color: darkorange;
}

.outstock {
    color: red;
}

.price {
    color: #B12704;
}