/* login */
form {
    width: 30%;
    margin: 80px 35%;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

form input {
    margin-bottom: 10px;
    font-size: 1.7em;
    padding: 10px;
    clear: both;
}

.error {
    clear: both;
}

form input[type=text], form input[type=password], form input[type=email] {
    width: 96%;
}

form input[type=submit] {
    width: 100%;
}

.error {
    color: red;
}

.password-policy {
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 5px;
}

.password-policy-rule {
    text-align: center;
}

.password-policy-rule li {
    display: inline;
    margin: 10px;
}