/**
 * Noah Tomkins, 000790079
 * 
 * Noah Computers Webstore
 * 
 * Created: 27/10/2020
 * I, Noah Tomkins, 000790079 certify that this material is my original work.  
 * No other person"s work has been used without due acknowledgement.
 */

.product-image {
    grid-column: span 2;
    margin-bottom: 15px;
}

.product-image img {
    width: 90%;
    margin: 5px 5%;
    max-width: 200px;
}

.product-name, .product-price, .product-stock {
    padding: 10px;
}

.product-price {
    font-size: 1.2em;
}

.not-found {
    text-align: center;
    padding-top: 20px;
    display: none;
}

/* Mobile Screens */
@media screen and (max-width: 768px) {
  
    #products {
        gap: 20px;
        margin: 20px 0;
    }

    .product-item {
        border-bottom: 1px solid black;
        width: 96%;
        margin: 3% 3%
    }

}

/* Desktop Screens */
@media screen and (min-width: 769px) {

    #products {
        gap: 20px;
        margin: 20px 15%;
        display: flex;
        flex-wrap: wrap;
    }

    .product-item {
        border: 1px solid black;
        width: 200px;
        height: 360px;
    }

}