/**
 * Noah Tomkins, 000790079
 * 
 * Noah Computers Webstore
 * 
 * Created: 27/10/2020
 * I, Noah Tomkins, 000790079 certify that this material is my original work.  
 * No other person"s work has been used without due acknowledgement.
 */

.user-options div {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px;
}

.user-options div h2 {
    text-align: center;
}

.error-text {
    color: red;
}

.error {
    float: left;
    clear: left;
    font-size: 1em;
}

.user-info table {
    border-collapse: collapse;
    width: 100%;
}

.user-info td{
    border-bottom:  1px solid lightgray;
    padding: 10px;
    font-size: 1.2em;
    vertical-align: top;
}

.user-info td:nth-child(2) {
    font-weight: 600;
}

.user-info button {
    height: 40px;
    font-size: 1.1em;
    width: 100px;
}

.user-info form input {
    float: left;
    clear: left;
    font-size: 1.1em;
    margin-bottom: 15px;
    width: 60%;
    padding: 5px;
}

.user-info form input[type=submit] {
    padding: 5px;
    font-size: 1em;
}

.user-info form label {
    float: left;
    clear: left;
    font-weight: 100;
    text-align: right;
    margin-top: 5px;
}

#postal {
    width: 80px;
}

.password-policy {
    width: 55%;
}

/* Mobile Screens */
@media screen and (max-width: 768px) {
  
    main {
        width: 100%;
    }

    
}

/* Desktop Screens */
@media screen and (min-width: 769px) {

    main {
        width: 80%;
        margin: 0 10%;
    }

    .user-options {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: 30px 0;
    }
}