main {
    display: grid;
    grid-template-columns: 150px auto;
}

.menu {
    border-right: 2px solid lightgray;
    padding-right: 20px;
}

.menu ul {
    margin-top: 30px;
}

.menu li {
    padding-left: 20px;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.content {
    margin: 50px 5%;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.options input, .options select {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

.options label {
    float: left;
    clear: left;
    margin-right: 3px;
}

.options input[type=submit] {
    clear: left;
}