/*
    Noah Tomkins, 000790079
    Created: 2020-12-11

    I, Noah Tomkins, 000790079 certify that this material is my original work.  
    No other person's work has been used without due acknowledgement.
*/

.menu {
    border-right: 2px solid lightgray;
    padding-right: 20px;
}

.menu ul {
    margin-top: 30px;
}

.menu li {
    padding-left: 20px;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.content {
    margin: 50px 5%;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.options input, .options select {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

.options label {
    float: left;
    clear: left;
    margin-right: 3px;
}

.options input[type=submit] {
    clear: left;
}

/* Mobile Screens */
@media screen and (max-width: 768px) {
  
    main {
        margin: 20px;
    }

    .menu {
        border-right: none;
        border-bottom: 2px solid lightgray;
    }

    .menu li {
        display: inline;
    }
    
}

/* Desktop Screens */
@media screen and (min-width: 769px) {

    main {
        display: grid;
        grid-template-columns: 150px auto;
    }

    .menu {
        border-right: 2px solid lightgray;
        border-bottom: none;
        padding-right: 20px;
    }
}