.product-header, .product-item {
    display: grid;
    grid-template-columns: 3% 10% 37% 10% 10% 10% 10% 10%;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    padding: 3px;
}

.product-header {
    font-weight: 900;
}

#query {
    font-size: 1.3em;
    margin: 20px 0;
    width: 60%;
}

.addProduct {
    font-size: 1.3em;
    padding: 3px;
    float: right;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: whitesmoke;
}

.product-item img{
    width: 100%;
}